<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Handle requests to index.html
  RewriteRule ^index\.html$ - [L]

  # Serve existing files and directories directly
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  # Rewrite all other URLs to index.html
  RewriteRule . /index.html [L]
</IfModule>